<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}" defer></script>

    {% block head %}{% endblock %}

</head>

<body>
    <section class="dashboard-container">
        <div>
            {% include 'top-nav-bar.html' %}
            <div class="page-content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'side-nav-bar.html' %}
    </section>
</body>

</html>