<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}" defer></script>

</head>

<body>

    <section class="login-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}
            <h2>Welcome Back!</h2>
            <div class="form-row">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-input") }}
            </div>
            <div class="form-row">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-input") }}
            </div>
            {{ form.submit(class='btn btn-block')}}
            {% with messages =get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="modal">

                <div class="modal-content">
                    <p class="error">{{ messages|last|last }}</p>
                    <span class="btn close-btn" id="close">OK</span>
                </div>
            </div>
            {% endif %}
            {% endwith %}

        </form>
    </section>
</body>

</html>