<div class="top-nav-bar">
    <div class="left">
        <button type="button" class="btn nav-btn">
            <i class="fas fa-align-justify"></i>
        </button>
    </div>
    <div class="right">
        {% if current_user.is_authenticated %}
        <img src="{{ url_for('static',filename='user.png') }}" alt="image here">
        <p>{{ current_user.email }}</p>
        <a href="#" id="btn-user-menu-dropdown"><i class="fas fa-angle-down">
        </a></i>
        <div class="user-menu-dropdown">
            <ul>
                <li><a href="#">profile</a></li>
                <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
            </ul>
            {% else %}
            <a href="{ {url_for('home_page') }}">Login</a>
            {% endif %}

        </div>
    </div>
</div>

<style>

</style>